.grid-container {
    width: 500px;
    height: 500px;

    background-color: wheat;

    display: flex;
    flex-wrap: wrap;
}

.grid-element {
    border: 1px blue solid;
    /* background-color: red; */
}
