
body {
    margin-top: 100px;
    background-color: #ccc0ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 500px;
    height: 500px;
    background-color: #f5f3ff;
    box-shadow: 8px 8px 16px #888888;

    display: flex;
    flex-wrap: wrap;

    flex-shrink: 0;
}

.grid-element {
    box-sizing: border-box;
}

.grid-element-border {
    border: 1px #738880 solid;
}

.main-container {
    display: flex;
    gap: 64px;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    height: 500px;
}

#color-picker {
    height: 50px;
    width: 80px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.colorPicker-container {
    display: flex;
    gap: 8px;

    justify-content: center;
    align-items: center;
}

.style-selected-btn {
    background-color: tan;
}